.login-card{
    width: 25rem;
    padding: 1rem;
    margin-top: auto;
    .title{
        margin-bottom: 1em;
    }
    .login-full-width{
        width: 100%;
    }
    .actions{
        padding: 1rem;
        text-align: center;
        .action-button{
            width: 200px;
            margin: auto;
        }
    }
}

section{
    margin-top: 10%;
    .mat-card.mat-focus-indicator.login-card {
        margin: auto;
    }
}